:root {
  body.dark {
    --c-sasuke: rgb(34, 34, 34);
    --c-madara: rgb(47, 47, 47);
    --c-obito: rgb(57, 57, 57);
    --c-itachi: rgb(255, 255, 255);
    --c-naruto: rgb(68, 68, 68);
    --c-orochimaru: rgb(15, 15, 15);
    --c-sakura: rgb(152, 153, 153);
    --c-gai: green;
    --c-deidara: red;
    --c-toby: rgb(148, 142, 131);
  }
}